<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>MobGi</string>
	<key>style</key>
	<string>1</string>
	<key>subItems</key>
	<array>
		<dict>
			<key>title</key>
			<string>激励视频</string>
			<key>style</key>
			<string>2</string>
			<key>type</key>
			<string>__mobgi_tool_adtype_reward</string>
			<key>subItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>检查文件</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_reward</string>
					<key>resultViewController</key>
					<string>MGADToolCheckFileViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>广告缓存</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_reward</string>
					<key>resultViewController</key>
					<string>MGADToolCacheViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>打印日志</string>
					<key>style</key>
					<string>4</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_reward</string>
					<key>resultViewController</key>
					<string>MGADToolDetailViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>__mobgi_tool_adtype_interstitials</string>
			<key>title</key>
			<string>插页视频</string>
			<key>style</key>
			<string>2</string>
			<key>subItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>检查文件</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_interstitials</string>
					<key>resultViewController</key>
					<string>MGADToolCheckFileViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>广告缓存</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_interstitials</string>
					<key>resultViewController</key>
					<string>MGADToolCacheViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>打印日志</string>
					<key>style</key>
					<string>4</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_interstitials</string>
					<key>resultViewController</key>
					<string>MGADToolDetailViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>开屏广告</string>
			<key>type</key>
			<string>__mobgi_tool_adtype_splash</string>
			<key>style</key>
			<string>2</string>
			<key>subItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>检查文件</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_splash</string>
					<key>resultViewController</key>
					<string>MGADToolCheckFileViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>广告缓存</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_splash</string>
					<key>resultViewController</key>
					<string>MGADToolCacheViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>打印日志</string>
					<key>style</key>
					<string>4</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_splash</string>
					<key>resultViewController</key>
					<string>MGADToolDetailViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>原生广告</string>
			<key>type</key>
			<string>__mobgi_tool_adtype_native</string>
			<key>style</key>
			<string>2</string>
			<key>subItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>检查文件</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_native</string>
					<key>resultViewController</key>
					<string>MGADToolCheckFileViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>广告缓存</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_native</string>
					<key>style</key>
					<string>3</string>
					<key>resultViewController</key>
					<string>MGADToolCacheViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>打印日志</string>
					<key>style</key>
					<string>4</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_native</string>
					<key>resultViewController</key>
					<string>MGADToolDetailViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>banner广告</string>
			<key>type</key>
			<string>__mobgi_tool_adtype_banner</string>
			<key>style</key>
			<string>2</string>
			<key>subItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>检查文件</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_banner</string>
					<key>resultViewController</key>
					<string>MGADToolCheckFileViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>广告缓存</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_banner</string>
					<key>resultViewController</key>
					<string>MGADToolCacheViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>打印日志</string>
					<key>style</key>
					<string>4</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_banner</string>
					<key>resultViewController</key>
					<string>MGADToolDetailViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>原生信息流</string>
			<key>type</key>
			<string>__mobgi_tool_adtype_nativeflow</string>
			<key>style</key>
			<string>2</string>
			<key>subItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>检查文件</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_nativeflow</string>
					<key>resultViewController</key>
					<string>MGADToolCheckFileViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>广告缓存</string>
					<key>style</key>
					<string>3</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_nativeflow</string>
					<key>resultViewController</key>
					<string>MGADToolCacheViewController</string>
				</dict>
				<dict>
					<key>title</key>
                    <string>打印日志</string>
					<key>style</key>
					<string>4</string>
					<key>type</key>
					<string>__mobgi_tool_adtype_nativeflow</string>
					<key>resultViewController</key>
					<string>MGADToolDetailViewController</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
